@import 'reset.scss';
@font-face {
	font-family: 'Meadow';
	src: url(../assets/GlyphWorldMeadow.ttf);
	font-weight: 400;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	background-color: #111;
	overflow: hidden;
}

header {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		color: #fff;
		text-decoration: none;
		font-size: 18px;
		font-weight: 700;
	}
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		font-size: 5vw;
		font-weight: 700;
		font-family: 'Meadow', sans-serif;
		user-select: none;

		span {
			line-height: 0.85;
		}
	}
}

.images-container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	pointer-events: none;

	img {
		position: absolute;
		left: 0;
		top: 0;
		width: 200px;
		height: 300px;
		border-top-left-radius: 100px;
		border-top-right-radius: 100px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}
